!!!
%html
	%head
		%title= 'BasePath'
		%link{:rel => 'stylesheet',
					:href =>'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/ui-darkness/jquery-ui.css',
					:type => 'text/css'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
		%script{:type => 'text/javascript',
						:src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'}
		%script{:type => 'text/javascript',
						:src =>'scripts/basepath.js'}

	%body
		#header
		#main
			#left
			#center
				#buttons
					#al_east{:class => 'down, ui-state-active'}
						AL East
					#al_central{:class => 'down'}
						AL Central
					#al_west{:class => 'down'}
						AL West
					#nl_east{:class => 'down'}
						NL East
					#nl_central{:class => 'down'}
						NL Central
					#nl_west{:class => 'down'}
						NL West
				#teams
					#brs{:class => 'al_east'}
						Boston Red Sox
					#nyy{:class => 'al_east'}
						New York Yankees
					#tbj{:class => 'al_east'}
						Toronto Blue Jays
					#bo{:class => 'al_east'}
						Baltimore Orioles
					#mt{:class => 'al_central'}
						Minnesota Twins
					#sm{:class => 'al_west'}
						Seattle Mariners		
					#nym{:class => 'nl_east'}
						New York Mets
					#cc{:class => 'nl_central'}
						Chicago Cubs
					#lad{:class => 'nl_west'}
						Los Angeles Dodgers	
			#right
		#footer